html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.panel-title > a {
    cursor:pointer;
    font-size: 13px;
}


.layoutContainer {
    margin-bottom:80px;
}


.questionTitle {
    padding:5px;
    cursor:default;
}

.questionTitle:hover {
    background-color:#f5f5f5;
}

.answerChoice {
    padding:5px;
}

.answerChoice:hover {
    background-color:#f5f5f5;
}

.correctAnswer {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
