html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.panel-title > a {
    cursor:pointer;
    font-size: 13px;
}


.layoutContainer {
    margin-bottom:80px;
}

.answerChoice:hover {
    background-color:#f5f5f5;
}