<?xml version="1.0" encoding="utf-8" ?>
<unity>
  
  <alias alias="IExamProcessor" type="Exam.Business.IExamProcessor, Exam.Business"/>
  <alias alias="IExamRepository" type="Exam.Repository.IRepository`1, Exam.Repository"/>

  <alias alias="ExamProcessor" type="Exam.Business.ExamProcessor, Exam.Business" />
  <alias alias="ExamRepository" type="Exam.Repository.Repository`1, Exam.Repository" />
  <alias alias="MockExamRepository" type="Exam.Repository.MockExamRepository, Exam.Repository" />
     
  <containers>
    <container>
      <register type="IExamProcessor" mapTo="ExamProcessor" />
      <!--<register type="IExamRepository" mapTo="MockExamRepository" />-->
      <register type="IExamRepository" mapTo="ExamRepository" />
    </container> 
  </containers>
</unity>