<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="examApp">
<head>
    <title>Certificate Preparation</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

    <link href="app/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="app/css/bootstrap.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
    
    <script src="app/lib/jquery.min.js"></script>
    <script src="app/lib/underscore-1.4.4.min.js"></script>
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/lib/angular/angular-resource.min.js"></script>
    <script src="app/lib/bootstrap.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/CertificateController.js"></script>
    <script src="app/js/services/examData.js"></script>
</head>
<body>
    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Certificate Preparation</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Certificates</a></li>
              <li><a href="#">Dump a question</a></li>
              <li><a href="http://www.koukia.ca">Bits Corner Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <div ng-controller="CertificateController">
            <div class="col-md-6" ng-repeat="certificate in certificates">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h5>{{certificate.CompanyName}} {{certificate.CertificateCode}} {{certificate.CertificateName}}</h5>
                  </div>
                  <div class="panel-body">
                      <p><small><label>Technology:</label> {{certificate.Technology}}</small></p>
                      <p><label>Skills measured:</label></p>
                      <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="skill in certificate.Skills">{{skill.SkillName}}</a>
                      </div>
                      <a class="btn btn-primary btn-sm" role="button">Cert Preparation</a>
                      <a class="btn btn-secondary btn-sm" role="button">Dump a question</a>
                  </div>
               </div>
            </div>
        </div>

   </div> <!-- /container -->

   <div class="footer">
      <div class="container">
        <p class="text-muted">
            &copy; 2014 - Certificate Preparation - Powered by:
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/aram-koukia/53/898/128" data-format="hover" data-text="Aram Koukia">
            </script>
            <a title="Bits Corner on Facebook" href="https://www.facebook.com/10corner" target="_blank">
                <img src="app/img/facebook-logo.png" alt="Bits Corner (Aram Koukia) on Facebook" style="width: 32px;" />
            </a>
            <a title="Aram Koukia on Linkedin" href="http://www.linkedin.com/pub/aram-koukia/53/898/128" target="_blank">
                <img alt="Aram Koukia on Linkedin" src="app/img/linkedin-logo.png" style="width: 32px;" />
            </a>
            <a title="Follow Aram Koukia on Twitter" href="https://twitter.com/aramkoukia" target="_blank">
                <img alt="Follow Aram Koukia on Twitter" src="app/img/twitter-logo.png" style="width: 32px;" />
            </a>
            <a title="Get and follow the posts with RSS Feed here" href="http://www.koukia.ca/Blog/NewPostsRSS" target="_blank">
                <img alt="Get and follow the posts with RSS Feed here" src="app/img/rss-logo.png" style="width: 32px;" />
            </a>
        </p>      </div>
    </div>

</body>
</html>
