<div class="panel panel-info ng-cloak">
    <div class="panel-heading">
        <label>Certificate:</label> {{certificate.CompanyName}} {{certificate.CertificateCode}} {{certificate.CertificateName}} <label>Technology:</label> {{certificate.Technology}}
        <button ng-show="questionsLoaded" ng-click="endAttempt()" class="btn btn-primary btn-sm" role="button">Stop Preparation</button>
    </div>
    
</div>

<div class="panel panel-info ng-cloak" ng-show="!questionsLoaded">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-asterisk"></span>
            Setup the your preperation options
        </h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Number of questions:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control text-center" value="50" maxlength="2">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="true" checked="checked" name="prepOption"> Give me random questions
                        </label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="prepOption"> Give me the most recent questions
                        </label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="prepOption"> Give me the most attempted questions
                        </label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="prepOption"> Give me the most voted questions
                        </label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox"> Start a timer
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Prep minutes:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control text-center" value="120" maxlength="3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <button ng-click="startAttempt()" class="btn btn-primary btn-sm" role="button">Start Preparation</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div ng-show ="questionsLoaded">
    <div ng-include="'./templates/Question.html'" ng-controller="QuestionController"></div>
</div>
