<div class="panel panel-info">
    <div class="panel-heading">
        <label>Certificate:</label> {{certificate.CompanyName}} {{certificate.CertificateCode}} {{certificate.CertificateName}} <label>Technology:</label> {{certificate.Technology}}
    </div>
</div>

<div class="panel panel-info">
    <!--<div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-lock"></span>
            Sign In
        </h3>
    </div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Q {{question.QuestionId}}</h3>
                <div ng-bind-html="question.Title"></div>
            </div>

            <div class="col-md-12">
                <h5 class="text-success"><u>Pick all that applies</u></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="answer in question.Answers">
                    <div class="checkbox answerChoice">
                        <label>
                            <input type="checkbox"><div ng-bind-html="answer.Description"></div>
                        </label>
                    </div>
                </div>
           </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <a ng-disabled="prevQuestionId==0" href="#/CertPrep/{{certificate.CertificateId}}/Question/{{prevQuestionId}}" type="button" class=" btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left"></span> Previous
            </a>
            <a ng-disabled="nextQuestionId==0" href="#/CertPrep/{{certificate.CertificateId}}/Question/{{nextQuestionId}}" type="button" class=" btn btn-primary">
                Next <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;Show comments
            </button>
            <button type="button" class="btn btn-info" ng-click="checkAnswer(question)">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;check answer
            </button>
        </div>
        <div class="col-md-6" ng-hide="!showAnswer">
            <button ng-hide="!gotItRight" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;You got it right!
            </button>
            <button ng-hide="gotItRight" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;You got it wrong!
            </button>
        </div>
    </div>
</div>
