<div class="panel panel-info">
    <div class="panel-heading">
        <label>Certificate:</label> {{certificate.CompanyName}} {{certificate.CertificateCode}} {{certificate.CertificateName}} <label>Technology:</label> {{certificate.Technology}}
    </div>
</div>

<div class="panel panel-info">
    <!--<div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-lock"></span>
            Sign In
        </h3>
    </div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Q 1</h3>
                Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
            </div>

            <div class="col-md-12">
                <h5 class="text-success"><u>Pick all that applies</u></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="checkbox answerChoice">
                    <label>
                        <input type="checkbox"> Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox answerChoice">
                    <label>
                        <input type="checkbox"> Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox answerChoice">
                    <label>
                        <input type="checkbox"> Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox answerChoice">
                    <label>
                        <input type="checkbox"> Check me outas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdfas dfasd fsadf sadf asdf asdfa dfasdf asdf sdf sadf asdf adf asdf sdf adfadfsd fsad fsdf sdf
                    </label>
                </div>
            </div>
        </div>
   </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" class=" btn btn-primary" ng-click="prevQuestion()">
            <span class="glyphicon glyphicon-chevron-left"></span> Previous
        </button>
        <button type="submit" class=" btn btn-primary" ng-click="nextQuestion()">
            Next <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;check answer
        </button>
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;Show comments
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>
            <span class="label label-success">You got it right!</span>
            <span class="label label-danger">You got it wrong!</span>
        </h2>
    </div>
</div>