    <!-- /container -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted" style="margin-top:15px">
                    &copy; 2014-2015 - Certificate Preparation - Powered by: <a href="Http://www.koukia.ca" target="_blank">Aram Koukia</a>
                    <a title="Bits Corner on Facebook" href="https://www.facebook.com/10corner" target="_blank">
                        <img src="app/img/facebook-logo.png" alt="Bits Corner (Aram Koukia) on Facebook" style="width: 32px;" />
                    </a>
                    <a title="Aram Koukia on Linkedin" href="http://www.linkedin.com/pub/aram-koukia/53/898/128" target="_blank">
                        <img alt="Aram Koukia on Linkedin" src="app/img/linkedin-logo.png" style="width: 32px;" />
                    </a>
                    <a title="Follow Aram Koukia on Twitter" href="https://twitter.com/aramkoukia" target="_blank">
                        <img alt="Follow Aram Koukia on Twitter" src="app/img/twitter-logo.png" style="width: 32px;" />
                    </a>
                    <a title="Get and follow the posts with RSS Feed here" href="http://www.koukia.ca/Blog/NewPostsRSS" target="_blank">
                        <img alt="Get and follow the posts with RSS Feed here" src="app/img/rss-logo.png" style="width: 32px;" />
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>