<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-lock"></span>
                    Sign In
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        You need to Sign in to be able to access to some areas of the application.
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-12">
                        <small>  Click here to sign in with your Google account</small>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="pageGoogleSignIn">
                            <span id="pageSignInButton">
                            </span>
                        </span>
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>


